---
title: Email &amp; Campaign Monitor Support
---
{% include head.html %}
    <link rel="stylesheet" href="/ui-2017/css/cm.css">
    <link rel="stylesheet" href="/ui-2017/js/slippry.css">
</head>
<body><div class="outer">
    {% include header.html %}
    <div class="content-bg">
        <section class="hero email-hero">
            <div class="wrapper wrapper-content">
                <p class="handwriting">Clearbold is your one-stop shop for email design, development, and delivery&nbsp;services.</p>
            </div>
        </section>
        <section class="section-header cm-header">
            <img class="cm-logo-header" src="/logo-cm.svg" alt="Campaign Monitor logo" />
            <h2 class="visuallyhidden">Campaign Monitor Support</h2>
        </section>
        <section class="hero cm-hero">
            <div class="wrapper wrapper-content">
                <p>From coding HTML email to configuring campaigns to custom API integrations&mdash;and now new Craft CMS plugins&mdash;Clearbold can help make the most of your Campaign&nbsp;Monitor&nbsp;account.</p>
            </div>
        </section>
        <section class="cm-plugins">
            <div class="wrapper wrapper-content">
                <img class="craft-logo-header" src="/craft.svg" alt="Craft CMS logo" />
                <h2>Plugins</h2>
                <div class="plugins">
                    <a href="">
                        <div><img src="/logo-cm-marque.svg" />
                        <h3>Lists</h3></div>
                        <p>Track your Campaign Monitor subscribers in your Craft control&nbsp;panel.</p>
                        <span class="button">Plugin Store</span>
                    </a><!--
                    --><a href="">
                        <div><img src="/logo-cm-marque.svg" />
                        <h3>Synch</h3></div>
                        <p>Synch your Craft users to your Campaign Monitor subscriber&nbsp;lists.</p>
                        <span class="button">GitHub</span>
                    </a><!--
                    --><a href="">
                        <div><img src="/logo-cm-marque.svg" />
                        <h3>Transactional</h3></div>
                        <p>Configure Craft to send emails using your Campaign Monitor&nbsp;account.</p>
                        <span class="button">Plugin Store</span>
                    </a>
                </div>
            </div>
        </section>
        <section class="email-client email-farmcollective">
            <div>
                <div>
                    <img src="./fc.png" />
                </div>
            </div>
            <div>
                <div>
                    <div class="cm-lockup"><img src="/logo-cm-marque.svg" />
                    <h3>API Integration</h3></div>
                    <p><b>Farm Collective Wine</b> are long-time Campaign Monitor customers who needed some help bridging the gap between their WineDirect CRM contacts and Campaign Monitor subscriber lists. That&rsquo;s where Clearbold fits in.</p>

                    <p>Using the Slim PHP framework, Mark built a bridge app that periodically fetches four different Farm Collective brands&rsquo; contacts from WineDirect and imports them into subscriber lists via Campaign Monitor&rsquo;s API to ensure that Farm Collective&rsquo;s marketing emails are always reaching their full audience.</p></div>
            </div>
        </section>
        <section class="section-header">
            <h2 class="handwriting">HTML Email Design</h2>
        </section>
        <section class="email-client email-savingstar">
            <div class="client-image">
                <div>
                    <div id="slider">
                        <div><img src="./savingstar/5.png" /></div>
                        <div><img src="./savingstar/2.png" /></div>
                        <div><img src="./savingstar/3.png" /></div>
                        <div><img src="./savingstar/4.png" /></div>
                        <div><img src="./savingstar/1.png" /></div>
                    </div>
                </div>
            </div>
            <div class="client-text">
                <div>
                    <h3><span>SavingStar</span><br />Onboarding and Customer&nbsp;Emails</h3>
                    <p>Email is critical to <b>SavingStar&rsquo;s</b> customer engagement and retention programs. The time had come to turbocharge their HTML email with consistent branding elements, more personality, and designs that work well on small device&nbsp;screens.</p>
                    <p>A planning and opportunity analysis workshop produced a comprehensive set of recommendations. With <a href="http://taylorwaldman.com">Aaron Taylor-Waldman</a> running design, Clearbold delivered a series of coded, modular email layouts that can be mixed and matched in different combinations, integrated by the <b>SavingStar</b> team into their email service provider and proprietary&nbsp;platforms.</p>
                </div>
            </div>
        </section>
        <section class="hero help-with">
            <div class="wrapper">
                <p class="handwriting">Ready to do more with&nbsp;email?</p>
                <div class="button"><a href="https://clearbold.wufoo.com/forms/lets-work-together/">Get started!</a></div>
            </div>
        </section>
    </div>
    <footer>
        <div class="wrapper wrapper-content">
            <p>&copy; 2018, Clearbold, LLC. <a href="mailto:hello@clearbold.com">hello@clearbold.com</a>. <a href="https://en.wikipedia.org/wiki/UTC%E2%88%9205%3A00" target="_blank" class="nobr">EST UTC-05:00</a>.<!-- </p><p> --> Member, <a href="http://vbsr.org">Vermont Businesses for&nbsp;Social&nbsp;Responsibility</a>.<span class="no-cssgrid"> <a href="https://caniuse.com/#feat=css-grid" target="_blank">Upgrade your browser</a>.</span></p>
        </div>
    </footer>
</div>
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script type="text/javascript" src="/ui-2017/js/slippry.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#slider').slippry({
            auto: true,
            captions: false,
            controls: false,
            elements: 'div',
            pager: false,
            pause: 2000,
            speed: 250,
            useCSS: false
        })
    });
</script>
</body>
</html>