                <ul>
                    <li><a href="https://journeynorth.org">Journey North</a> (<a href="/jn">case study</a>)</li>
                    <li><a href="https://maps.journeynorth.org">Journey North Maps</a></li>
                    <li>The University of Wisconsin-Madison</li>
                    <li><a href="https://morins.com">Russell Morin Catering &amp;&nbsp;Events</a></li>
                    <li><a href="https://orderfresheats.com/">Fresh Eats by Russell&nbsp;Morin</a></li>
                    <li><a href="https://www.massfairhousing.org/">Massachusetts Fair Housing</a></li>
                    <li>Farm Collective Wine</li>
                    <li>American Committee for the Weizmann Institute of&nbsp;Science</li>
                    <li><a href="https://www.codiakbio.com">Codiak Biosciences</a></li>
                    <li><a href="https://solidbio.com">Solid Biosciences</a></li>
                    <li><a href="https://www.arvinas.com">Arvinas</a></li>
                    <li><a href="https://www.tcbiopharm.com">TC BioPharm</a></li>
                    <li><a href="https://sentinelgroup.com">Sentinel Benefits</a></li>
                    <li>SavingStar</li>
                    <li><a href="https://vascore.org">VasCore</a></li>
                    <li>History at MIT</li>
                    <li><a href="https://www.cfregisters.org">The Comédie-Française Registers&nbsp;Project</a></li>
                    <li>The Digital Research Center at Hofstra&nbsp;University</li>
                    <li><a href="/itinerary">Itinerary at The Digital Research Center at Hofstra University</a></li>
                    <li><a href="https://chhange.org/">The Center for Holocaust, Human Rights &amp; Genocide&nbsp;Education</a></li>
                    <li><a href="https://lllsearches.com">Lois L. Lindauer&nbsp;Searches</a></li>
                    <li>Calvert Foundation</li>
                    <li><a href="https://40act.com">40Act.com</a></li>
                    <li>ESPN</li>
                    <li>Fidelity Investments</li>
                    <li>Campbell Soup Company</li>
                    <li>Lexmark</li>
                    <li>Cadillac</li>
                    <li>MINI USA</li>
                    <li>Massachusetts General Hospital</li>
                    <li>Jay Peak</li>
                    <li>New Balance</li>
                    <li>L.L. Bean</li>
                    <li>The NYSE</li>
                    <li>SAP</li>
                    <li>21st&nbsp;Century Oncology</li>
                    <li><b>Branding &amp; Creative Direction</b></li>
                    <li><a href="https://wintergreendesign.com">Wintergreen Design &amp; Technology</a></li>
                    <li><a href="/essentialco.com">Essential Design&nbsp;Collective</a></li>
                    <li>Slim Kiwi</li>
                </ul>