    <footer class="panel-bottom">
        <div class="wrapper wrapper-content">
            <p>&copy; 2019, Clearbold, LLC. <a href="mailto:hello@clearbold.com">hello@clearbold.com</a>. Montpelier,&nbsp;VT,&nbsp;USA. <a href="https://en.wikipedia.org/wiki/UTC%E2%88%9205%3A00" target="_blank">EST&nbsp;UTC-05:00</a>.</p><p>This website does not track&nbsp;you.<span class="no-cssgrid"> <a href="https://caniuse.com/#feat=css-grid" target="_blank">Upgrade your browser</a>.</span></p>
        </div>
    </footer>