    <div id="lightbox">
        <div class="lightbox-content-wrapper"><div id="lightbox-content">
            <button class="lightbox-close" id="lightbox-close" tabindex="0" aria-pressed="false" aria-controls="lightbox">
                <div><!-- design element --></div>
                <div><!-- design element --></div>
            </button>
            <div class="date">
                <p>March, 2020</p>
            </div>
            <div>
                <!-- <p>Hello!</p><p>I&rsquo;m booking new web or marketing technology clients in 2020, on an ongoing or project basis.</p><p>Are you a small or growing business or nonprofit looking to work closely with an experienced consultant to optimize your website, web application, or email efforts? If so, we might be a good&nbsp;fit!</p>
                <p>I&rsquo;m just as interested in how we work together and what we&rsquo;re working on as I am in what technology we&rsquo;re using. It&rsquo;s about relationships, reliability, sustainability, and keeping overhead in check. If we can align on those values, I'm experienced in pivoting to support a broad range of&nbsp;capabilities.</p> -->
                <p><b>COVID-19 UPDATE</b></p>
                <p>I&rsquo;m concerned about local businesses, organizations, and services&mdash;members of our communities&mdash;surviving this crisis. If there are viable options to support your customers or move operations online, I&rsquo;d like to help you do&nbsp;so. Support for online payments, e-commerce, taking to-go orders, posting daily offerings or service updates; these are all things that can be spun up relatively&nbsp;quickly. I can also help implement tools to support remote&nbsp;teams.</p>
                <!-- <p>Over the past few years, Clearbold has:</p> -->
                <p>I&rsquo;m experienced in pivoting to support a broad range of&nbsp;capabilities. Over the past few years, Clearbold&nbsp;has:</p>
                <ul>
                    <li>Worked with Vermont-based Journey North to launch a new publishing/editorial platform on Drupal; undertake a significant hosting migration; modernize their Citizen Science database and online maps; upgrade website security&nbsp;protocols.</li>
                    <li>Helped a high-end, New England caterer&mdash;a long-time client&mdash;evaluate moving to Salesforce for CRM, establish email marketing and marketing automation campaigns, and launch a new e-commerce venture for online catering&nbsp;orders.</li>
                    <li>Released multiple Craft CMS plugins supporting integration with Campaign Monitor for email marketing &amp; marketing automation, and leveraged those plugins in multiple Clearbold client&nbsp;projects.</li>
                    <li>Launched 4 new client sites on Craft CMS in 2019&nbsp;alone.</li>
                </ul>
                <p>If that&rsquo;s the sort of versatility and support your business or organization needs right now, <!-- I&rsquo;d love to --> let&rsquo;s talk and see what we can work out. Please get in touch <a href="mailto:hello@clearbold.com">by&nbsp;email</a>.</p>
                <ul class="cta-links">
                    <li>&raquo;&nbsp;<a id="learn-more" href="#">Learn more</a></li>
                    <li>&raquo;&nbsp;<a href="https://clearbold.wufoo.com/forms/lets-work-together/">Get a quote</a></li>
                    <li>&raquo;&nbsp;<a href="mailto:hello@clearbold.com">Email me</a></li>
                </ul>
                <p>
                    &ndash; Mark Reeves<br />
                    Founder, Clearbold, LLC<br />
                    Montpelier, VT
                </p>
            </div>
        </div></div>
    </div>