    <div class="panel panel-bottom services">
        <div class="wrapper wrapper-content"><section>
            <h1>Services</h1>
            <div class="cards">
                <div class="card card-apps">
                    <h2>Custom Web Applications</h2>
                    <p>Data-driven tools supporting <abbr title="Customer Relationship Management">CRM</abbr> integrations, Citizen Science projects, and everything in&#8209;between.</p>
                </div>
                <div class="card card-websites">
                    <h2>Websites &amp; E-Commerce</h2>
                    <p>Helping you launch, optimize, and manage your most important marketing &amp; sales tool.</p>
                </div>
                <div class="card card-email">
                    <h2>Email Marketing &amp; Automation</h2>
                    <p>Leveraging a powerful, permission-based platform to engage customers and&nbsp;communities.</p>
                </div>
                <div class="card card-maps">
                    <h2>Interactive Maps & Data Visualization</h2>
                    <p>Harnessing digital maps and your data to tell a compelling story. <a href="https://www.nten.org/article/the-journey-to-low-cost-mapping-solutions/" title="The Journey to Low-Cost Mapping Solutions, featured in the Nonprofit Technology Network blog." target="_blank">Read case studies in an NTEN.org&nbsp;article</a>.</p>
                </div>
                <div class="card card-tech card-a11y">
                    <h2>Accessibility</h2>
                    <p>Ensuring content and interfaces are inclusive and work for&nbsp;everyone.</p>
                </div>
                <div class="card card-tech">
                    <h2>Take Back Your&nbsp;Tech</h2>
                    <p>Helping you own your data &amp; privacy, find alternatives to Big&nbsp;Tech platforms, and expand Public Interest Technology.</p>
                </div>
                <div class="card card-craft">
                    <h2>Custom Craft CMS Development</h2>
                    <p>Making <a href="https://craftcms.com" target="_blank">a great content management system</a> even better with custom plugins and website support. Clearbold is a <a href="https://craftcms.com/partners/clearbold" target="_blank">Craft&nbsp;Partner</a>.</p>
                </div>
                <div class="card card-craft">
                    <h2>Craft Commerce Development</h2>
                    <p>Empowering e&#8209;commerce with the affordability, flexibility, and features only <a href="https://craftcms.com/commerce" target="_blank">Craft&nbsp;Commerce</a> can&nbsp;offer.</p>
                </div>
                <div class="card card-salesforce">
                    <h2>Salesforce Support</h2>
                    <p>Steady support for your Salesforce Admin &amp;&nbsp;Developer&nbsp;needs, website API&nbsp;integrations.</p>
                </div>
            </div>
        </section></div>
    </div>