<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Web &amp; email design and development firm, specializing in website redesigns, custom content management solutions, web applications, email campaigns, and data-driven projects.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Design &amp; Development. Clearbold, LLC. Vermont-based &ndash; Available everywhere.</title>
    <!--[if gte IE 11]><!-->
    <link rel="stylesheet" href="/ui/css/styles.css">
    <!-- <![endif]-->
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-192x192.png" sizes="192x192" />
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-64x64.png" sizes="64x64" />
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-32x32.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="/ui/img/icon-192x192.png" />
    <meta property="og:site_name" content="Clearbold" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.clearbold.com/" />
    <meta property="og:title" content="Clearbold" />
    <meta property="og:description" content="Web &amp; email design and development firm, specializing in website redesigns, custom content management solutions, web applications, email campaigns, and data-driven projects." />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@clearbold" />
    <meta name="twitter:creator" content="@clearbold" />
    <meta name="twitter:creator:id" content="125980885" />
    <meta name="twitter:url" content="https://www.clearbold.com/" />
    <meta name="twitter:title" content="Clearbold" />
    <meta name="twitter:description" content="Web &amp; email design and development firm, specializing in website redesigns, custom content management solutions, web applications, email campaigns, and data-driven projects." />
</head>
<body class="lightbox-active"><a class="skip" href="#content">Skip to content</a>
    <div class="outer"><header class="masthead" role="banner">
        <div class="wrapper wrapper-content">
            <a class="logo" href="/" title="Clearbold.com"><img alt="Clearbold logo" src="/ui/img/logo-180.png" /></a>
            <nav role="navigation"><a href="#craft" id="craft-jumplink">Craft Plugins</a> <a href="mailto:hello@clearbold.com">hello@clearbold.com</a></nav>
        </div>
    </header>
    <div class="outer-content"><main id="content" role="main"><div class="panel panel-top intro">
        <div class="wrapper wrapper-content">
            <p><b>Clearbold</b> helps agency &amp; corporate teams, small businesses, and nonprofits launch successful and sustainable websites, email campaigns, and data-driven&nbsp;projects. <a href="https://clearbold.wufoo.com/forms/lets-work-together/">Get&nbsp;a&nbsp;quote</a>.</p>
        </div>
    </div>
{% include services.html %}

    <div class="parallax">

    </div>

    <div class="panel panel-top panel-bottom bio">
        <div class="wrapper wrapper-content wrapper-mjr">
            <div class="mjr">
                <figure>
                    <a href="http://markreeves.net"><img alt="Photo of Mark Reeves" src="/ui/img/mjr-bw-400.jpg" /></a>
                    <figcaption><p><a href="http://markreeves.net">Mark Reeves</a> is founder of&nbsp;Clearbold.</p></figcaption>
                </figure>
                <p>Hello! I’m Mark Reeves. I describe myself as a general contractor for website, web application, and email projects. I&rsquo;ve worked with a wide array of technologies, industries, and applications for over 20 years, and can help you scope, budget for, and realize your project goals on time and on budget. I support many projects directly, from interaction design through development and launch. On larger projects I can pull together a team with specialized skillsets and serve as hands-on project manager. I&rsquo;ve supported clients remotely for twelve years via Clearbold,&nbsp;LLC.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-inset craft" id="craft" tabindex="-1">
        <div class="wrapper wrapper-content wrapper-craft"><section>
            <img class="craft-logo-header" src="/ui/img/logo-craft-cms.svg" alt="Craft CMS logo" />
            <h1>Plugins</h1>
            <div class="cards">
                <a class="card" href="https://plugins.craftcms.com/cm-lists">
                    <div><div class="icon"><img src="/ui/img//logo-cm-marque-navy.svg" alt="" /></div>
                    <div class="name">Lists</div>
                    <p>Track your Campaign&nbsp;Monitor subscribers in your Craft control&nbsp;panel.</p></div>
                    <span class="button">Plugin Store</span>
                </a>
                <a class="card" href="https://github.com/clearbold/craft-campaignmonitor-synch">
                    <div><div class="icon"><img src="/ui/img//logo-cm-marque-navy.svg" alt="" /></div>
                    <div class="name">Synch</div>
                    <p>Synch your Craft users to your Campaign&nbsp;Monitor subscriber&nbsp;lists.</p></div>
                    <span class="button">GitHub</span>
                </a>
                <a class="card" href="https://plugins.craftcms.com/cm-transactional">
                    <div><div class="icon"><img src="/ui/img//logo-cm-marque-navy.svg" alt="" /></div>
                    <div class="name">Transactional</div>
                    <p>Configure Craft to send emails using your Campaign&nbsp;Monitor account.</p></div>
                    <span class="button">Plugin Store</span>
                </a>
                <a class="card" href="https://plugins.craftcms.com/darksky">
                    <div><div class="icon"><img src="/ui/img/icon-darksky.svg" alt="" /></div>
                    <div class="name">Dark Sky Weather</div>
                    <p>Display weather data from the Dark&nbsp;Sky&nbsp;API.</p></div>
                    <span class="button">Plugin Store</span>
                </a>
                <a class="card" href="https://plugins.craftcms.com/fixmealink">
                    <div><div class="icon"><img class="cb-logo" src="/ui/img/logo-gray.svg" alt="" /></div>
                    <div class="name">Fix Me a Link</div>
                    <p>URL obfuscator for links to&nbsp;assets.</p></div>
                    <span class="button">Plugin Store</span>
                </a>
                <a class="card" href="https://github.com/clearbold/craft-pay-invoice-stripe">
                    <div><div class="icon"><img class="cb-logo" src="/ui/img/logo-gray.svg" alt="" /></div>
                    <div class="name">Pay Invoice w/ Stripe</div>
                    <p>Starter code to process one-time payments by credit card or&nbsp;ACH.</p></div>
                    <span class="button">GitHub</span>
                </a>
            </div>
        </section></div>
    </div>

    <div class="panel panel-top clients">
        <div class="wrapper wrapper-content wrapper-clients">
            <div><p>Clearbold&rsquo;s efforts are often realized behind the scenes. Email <a href="mailto:hello@clearbold.com">hello@clearbold.com</a> to learn more about solutions for following clients spanning the CPG, Healthcare, Financial Services, Biotech, Higher Ed, Hospitality, Media, Marketing Technology, and Nonprofit&nbsp;sectors.</p>
                <ul>
                    <li><a href="https://journeynorth.org">Journey North</a> (<a href="/jn">case study</a>)</li>
                    <li><a href="https://maps.journeynorth.org">Journey North Maps</a></li>
                    <li>The University of Wisconsin-Madison</li>
                    <li><a href="https://morins.com">Russell Morin Catering &amp;&nbsp;Events</a></li>
                    <li><a href="https://orderfresheats.com/">Fresh Eats by Russell&nbsp;Morin</a></li>
                    <li><a href="https://www.massfairhousing.org/">Massachusetts Fair Housing</a></li>
                    <li>Farm Collective Wine</li>
                    <li>American Committee for the Weizmann Institute of&nbsp;Science</li>
                    <li><a href="https://www.codiakbio.com">Codiak Biosciences</a></li>
                    <li><a href="https://solidbio.com">Solid Biosciences</a></li>
                    <li><a href="https://www.arvinas.com">Arvinas</a></li>
                    <li><a href="https://www.tcbiopharm.com">TC BioPharm</a></li>
                    <li><a href="https://sentinelgroup.com">Sentinel Benefits</a></li>
                    <li>SavingStar</li>
                    <li><a href="https://vascore.org">VasCore</a></li>
                    <li>History at MIT</li>
                    <li><a href="https://www.cfregisters.org">The Comédie-Française Registers Project</a></li>
                    <li>The Digital Research Center at Hofstra University</li>
                    <li><a href="https://chhange.org/">The Center for Holocaust, Human Rights &amp; Genocide Education</a></li>
                    <li><a href="https://lllsearches.com">Lois L. Lindauer Searches</a></li>
                    <li>Calvert Foundation</li>
                    <li><a href="https://40act.com">40Act.com</a></li>
                    <li>ESPN</li>
                    <li>Fidelity Investments</li>
                    <li>Campbell Soup Company</li>
                    <li>Lexmark</li>
                    <li>Cadillac</li>
                    <li>MINI USA</li>
                    <li>Massachusetts General Hospital</li>
                    <li>Jay Peak</li>
                    <li>New Balance</li>
                    <li>L.L. Bean</li>
                    <li>The NYSE</li>
                    <li>SAP</li>
                    <li>21st&nbsp;Century Oncology</li>
                </ul>
            </div>
        </div>
    </div></main>
{% include footer.html %}
    </div></div>
{% include lightbox.html %}
    <script type="text/javascript">
        if ('IntersectionObserver' in window) {
            const intersectionObserver = new IntersectionObserver(function(entries) {
                let entry = entries[0];
                if (entry.isIntersecting) {
                    setTimeout(function() { element.focus() }, 500)
                }
            });
            // start observing
            intersectionObserver.observe(craft);
        }
    </script>
    <script type="text/javascript">
        const element = document.getElementById('craft');
        const link = document.getElementById('craft-jumplink');

        link.addEventListener('click', function(e) {
            e.preventDefault();
            element.scrollIntoView(
                {block: 'start', behavior: 'smooth'}
            );
        });

        document.getElementById('lightbox').addEventListener('click', function(e) {
            document.getElementById('lightbox').style.display = 'none';
            document.body.classList.remove('lightbox-active');
        });
        document.getElementById('lightbox-close').addEventListener('click', function(e) {
            document.getElementById('lightbox').style.display = 'none';
            document.body.classList.remove('lightbox-active');
        });
        document.getElementById('learn-more').addEventListener('click', function(e) {
            e.preventDefault();
            document.getElementById('lightbox').style.display = 'none';
            document.body.classList.remove('lightbox-active');
        });
        document.getElementById('lightbox-content').addEventListener('click', function(e) {
            e.stopPropagation();
        });
    </script>
</body>
</html>